.video {
    position: absolute;
    top: 4vh;
    left: 34vw;
}

.videoPlayer {
    border: 10px solid black;
    padding: 7px 12px;
    min-height: 3em;
    resize: both;
    width: 30vw;
    background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}

.clickhere9 {
    position: absolute;
    left: 41vw;
    top: 40vh;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    background: -webkit-linear-gradient(#e76f51, #E9C46A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clickhere8 {
    position: absolute;
    left: -30vw;
    top: 44vh;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    background: -webkit-linear-gradient(#e76f51, #E9C46A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media all and (max-width: 600px) {
    .clickhere8 {
        left: -4vw;
        top: 83vh;
        font-size: 22px;
    }
    .clickhere9 {
        left: -31vw;
        top: 68vh;
        font-size: 22px;
    }
    .video {
        position: absolute;
        top: 4vh;
        left: 37vw;
    }
    .videoPlayer {
        margin: 39px 0 0 -35vw;
        width: 85vw;
    }
}